html {
  scroll-behavior: smooth;
}

::selection { 
	background-color: #F3E2E1; 
	color: black;
}

body {
	background-image: url(https://i.pinimg.com/originals/19/6a/d9/196ad9d3122098b297d7b99ce9ff209f.gif);
    background-position: center;
    background-size: cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
}

.table {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 140px;
	justify-content: center;
    align-items: center;
}

td {
	text-align: center;
	text-align: center;
	vertical-align: middle;
}

tr,
.progressbtn table{
	margin-bottom: 20px;
	align: center;
}

.text,
h2 {
	color: white;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
	color: white;
	text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

h1 {
	font-size: 50px;
	margin-bottom: 0px;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
	font-family: 'Lato', sans-serif;
}



.image-cropper {
    display:block;
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

img {
    margin: 0 auto;
    height: auto;
    width: auto;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.btn-9 {
  border: none;
  transition: all 0.3s ease;
  overflow: hidden;
      -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.btn-9:after {
  position: absolute;
  content: " ";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   background-color: #1fd1f9;
background-image: linear-gradient(315deg, #1fd1f9 0%, #ec8db0 74%);
  transition: all 0.3s ease;
}

.btn-9:hover {
  background: transparent;
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  color: #fff;
}

.btn-9:hover:after {
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}

button {
  margin: 10px;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Bookman', serif;
  font-size: 18px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.content {
    display: none;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

#genre table > tbody> tr > td{
	padding-bottom: 40px;
}

#genre table > tbody > tr:nth-child(5) > td {
  padding: 0px !important;
}

.content2,
#favorites div h2 {
	padding-bottom: 20px;
}

#TestsDiv3 a:nth-child(n+2) img {
    width: 120px;
    height: auto;
    margin: 0px 5px;
}

#progressbtn {
	width: 250px;
	height: 40px;
}

.progressbtn,
.wrapper,
#TestsDiv,
#TestsDiv2,
#TestsDiv3{
	margin-bottom: 40px
}


#milestones > div,
#TestsDiv > div:first-child{
	margin-bottom: 60px;
} 

#challengep {
	height: auto;
    width: 110%;
	-webkit-filter: none;
    filter: none;
}

#mydiv {
	height: auto;
	width: auto;
	margin-right: -1%
	float: left;
	overflow: auto;
}

#left {
	float: left;
}

.table2 {
	text-align: left;
	border-collapse: collapse;
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	line-height: 1;
	font-weight: 600;
	padding: 20px;
	margin: 0;
	vertical-align: baseline;
}

th{
	font-weight: bolder;
	font-size: 17px;
	padding-left: 25px;
	padding-right: 25px;
	text-align: left;
}


a {
	color: #37C9F0
}

h3 {
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	text-shadow:
	-1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
	margin-top: 0px;
}

h2 {
	margin-bottom: 0px;
}

#genre table img, 
#genre div:nth-child(4) div img,
#genre div:nth-child(6) div img {
    width: 29.333%;
    padding: 1px;
}

#uncompleted,
#genre div:nth-child(6) div img,
#milestones div:nth-child(3) div:nth-child(3) img:nth-child(n+8),
#milestones div:nth-child(5) div:nth-child(3) img:nth-child(n+5){
    filter: brightness(0.3);
}

#genre div:nth-child(6) div img:first-child{
  filter: brightness(1);
}

#genre table {
	align-items: center;
	table-layout: fixed;
	width: 100%;
	table-cell
	margin-left: auto;
	margin-right: auto;
	margin:0 auto;
}


#genre div:nth-child(4) div h3,
#TestsDiv3 div h3 {
	padding-top: 50px;
}

#genre div:nth-child(4) div {
	width: 33%;
	height: 50%;
	margin: 0px 0px 50px 0px;
	float: left;
}

#genre div:nth-child(4) div:first-child {
	padding-left: 163px;
}

#genre div:nth-child(4) div:nth-child(2) {
	padding-right: 140px;
}

#genre div:nth-child(6) div img,
#milestones div:nth-child(3) div:nth-child(3) img,
#milestones div:nth-child(5) div:nth-child(3) img{
	width: 121px;
	margin: 5px;
}

#milestones div:nth-child(2) div:nth-child(4) img,
#milestones div:nth-child(4) div:nth-child(4) img
 {
	width: 70px;
	opacity: 0.6;
    transition: opacity 1.5s ease-out;
    -moz-transition: opacity 1.5s ease-out;
    -webkit-transition: opacity 1.5s ease-out;
    -o-transition: opacity 1.5s ease-out;
	filter: brightness(50%);
}

#genre div:nth-child(7) div img {
	width: 100px;
	margin: 10px;
}

#genre div:nth-child(7) {
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: 20px;
}

.credits,
#TestsDiv3 > div > h2,
#credits {
	margin: 0px 0px 30px 0px;
}

.commun {
	margin-top: 5px;
}

.#genre div:nth-child(6) {
	align-items: center;
	margin: 0px 0px 100px 0px;
	padding-left: 200px;
	padding-right: 200px;
}

#uncompleted,
#genre div:nth-child(6) img:nth-child(n+2){
	transition: none !important;
}

#uncompleted:hover,
#genre div:nth-child(6) img:nth-child(n+2):hover{
	transform: none !important;
}

#favorites div:first-child div img,
#events div:first-child div a img,
#milestones div:first-child div img,
#milestones div:nth-child(2) div:nth-child(3) img,
#milestones div:nth-child(4) div:nth-child(3) img{
	width: 130px;
	margin: 6px;
}

#milestones div:nth-child(2) div:nth-child(4) {
	padding-left: 150px;
	padding-right: 150px;
}

#favorites div div:nth-child(2) img:nth-child(3),
#favorites div div:nth-child(3) img:nth-child(2),
#favorites div div:nth-child(4) img:nth-child(2),
#favorites div div:nth-child(6) img:nth-child(3),
#favorites div div:nth-child(8) img:nth-child(2),
#favorites div div:nth-child(9) img:nth-child(2),
#favorites div div:nth-child(10) img:nth-child(3),
#favorites div div:nth-child(11) img:nth-child(2),
#favorites div div:nth-child(11) img:nth-child(3),
#favorites div div:nth-child(12) img:nth-child(2),
#favorites div div:nth-child(12) img:nth-child(3),
#favorites div div:nth-child(13) img:nth-child(2),
#favorites div div:nth-child(14) img:nth-child(2),
#favorites div div:nth-child(15) img {
	width: 145px !important;
}

#genre div:nth-child(6),
#genre div:nth-child(4),
#events div div:nth-child(5),
#events div div:nth-child(10),
#favorites div div:nth-child(4),
#favorites div div:nth-child(6),
#favorites div div:nth-child(15) {
	margin-bottom: 100px;
}

#genre div:nth-child(4){
height: 230px;
}

#footer img{
	width: 50px;
	margin: 10px;
	opacity: 1;
    transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
}

#footer img:hover {
  opacity: 0.5;
}

@font-face {
  font-family: myFirstFont;
  src: url(shorelines.otf);
}

.badgetext {
	font-family: myFirstFont;
	font-size: 20px;
	color: #F7A7A7;
	margin-bottom: 25px;
	margin-top: 0px;
}


/* Changes scrollbar for whole page (Firefox)*/
html {
    scrollbar-width: thin;
    scrollbar-color: rgb(68, 51, 55) rgba(31, 35, 45, 0.95);
}

/* Chrome scrollbar */
::-webkit-scrollbar {
    width: 6px;
    background: #01232d;
}

::-webkit-scrollbar-corner {
    background: #01232d;
}

::-webkit-scrollbar-thumb {
    background: #954b93;
    -webkit-border-radius: 1ex;
}

#imgWrap .Active{
    border:5px solid #58c;
}

.btn-10 {
  transition: all 0.3s ease;
  overflow: hidden;
	color: pink;
}
.btn-10:after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  -webkit-transform: scale(.1);
  transform: scale(.1);
}
.btn-10:hover {
  color: palevioletred;
}
.btn-10:hover:after {
  background: white;
  -webkit-transform: scale(1);
  transform: scale(1);
	color: pink;
}

.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}
.wrapper > button {
  margin: 5px;
  outline: none;
}

.wrapper > .custom-btn2 {
  width: 120px;
  height: 30px;
  padding: 5.5px 25px;
  border: 2px solid white;
  font-family: 'Latp', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

h3 > a > img {
	width: 20px;
	height: 20px;
}

h3 > a > img,
h2 > a > img {
	vertical-align: text-top;
	margin-left: 2px;
	margin-right: 2px;
	transition: all .4s ease-in-out;
	border-radius: 100%;
	background: #735564;
}

h2 > a > img {
	width: 30px;
	height: 30px;
	background: white !important;
}

h3 > a > img:hover,
h2 > a > img:hover {
  transform: scale(1.5);
  filter: drop-shadow(0 0 8px rgb(255, 255, 255));
}

#TestsDiv > div > a > img,
#TestsDiv3 a:nth-child(n+2) img,
#genre div:nth-child(4) img,
#genre table img,
#genre div:nth-child(6) div img,
#genre div:nth-child(7) div img,
#favorites div:first-child div img,
#events div:first-child div a img,
#milestones div:nth-child(2) div:nth-child(3) img,
#milestones div:first-child div img,
#milestones div:nth-child(3) div:nth-child(3) img,
#milestones div:nth-child(4) div:nth-child(3) img,
#milestones div:nth-child(5) div:nth-child(3) img{
	transition: all .6s ease-in-out;
}

#TestsDiv > div > a > img:hover,
#TestsDiv3 a:nth-child(n+2) img:hover,
#genre div:nth-child(4) img:hover,
#genre table img:hover,
#genre div:nth-child(6) div img:hover,
#genre div:nth-child(7) div img:hover,
#favorites div:first-child div img:hover,
#events div:first-child div a img:hover,
#milestones div:first-child div img:hover,
#milestones div:nth-child(2) div:nth-child(3) img:hover,
#milestones div:nth-child(3) div:nth-child(3) img:hover,
#milestones div:nth-child(5) div:nth-child(3) img:hover,
#milestones div:nth-child(4) div:nth-child(3) img:hover{
	transform: scale(1.1);
}


#TestsDiv > div > a > img {
	width: 220px;
	height: 220px;
}

.container2:hover .image-cropper{
	transform: scale(1.1);
	
}
.container2:hover #photo{
	filter: blur(4px);
}

#photo{
	filter: blur(0px);
	
	transition: all .6s ease-in-out;
}
.image-cropper{
	transition: all .6s ease-in-out;
}

.container2:hover #playbutton{
    opacity: 1;
}

#playbutton{
    opacity: 0;
    width: 280px;
  transition: .5s ease;
	position: absolute;
	left: 0;
	right: 0;
	padding-top: 100px;
	top: 0;
    z-index: 110;
}

.container2{
    width: 200px;
    margin: auto;
}

#awcpointsystem{
    width:750px;
    height:60px;
    border:2px solid white; 
    overflow:hidden;
	margin: auto;
	border-radius: 5px;

}
#awcpointsystem iframe {
    transform: scale(0.6);
    width:2000px;
    height:750px;
	top: 10px;
    margin-left:-625px;
    margin-top:-289px;   
    border:0 solid;
    filter: hue-rotate(159deg) contrast(0.8);
 }
 
#genre div{
	display: block;
}

#notfound {
    width: 600px;
    margin-bottom: -100px;
    margin-top: -50px;
}

#events span{
    background: none repeat scroll 0 0 #F8F8F8;
    border: 5px solid #DFDFDF;
    color: #717171;
    font-size: 12px;
    height: 30px;
    letter-spacing: 1px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    top: -205px;
    left: -73px;
	opacity: 0;
	position: relative;
	z-index: 100;
    margin: -70px;
    width: 135px;
    height: 20px;
    display: inline-block;
	
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
#events a{
    cursor:pointer;
}

#events a:hover span{
    opacity: 0.8;
}

#events div div:nth-of-type(2) span{
	top: -235px;
}

#events div div:nth-of-type(5) span{
	top: -232px;
}

#events div div:nth-of-type(2) a:first-child span {
	top: -233px;
    left: -69px;
}

#events div div:nth-of-type(3) span{
	top: -212px;
}
